.app {
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: #80808014;
}

.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

.content {
  height: 400px;
}